@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Abhaya+Libre&family=Handlee&family=Inter+Tight:wght@100&family=Manrope:wght@300;400&family=Open+Sans:wght@300&family=Poppins:wght@400;500;600&family=Roboto+Mono:wght@200&display=swap');

body{
    background-color: #f0f0f0;
}
#magazine{
	width: 1250px;
	height: 820px;
    cursor: pointer; 
    margin-left: -10.9rem

    /* 
  
    transition: margin-left 0.5s ease-in-out;
    /* -moz-box-shadow-bottom: 4px 4px 4px black;
    -webkit-box-shadow-bottom: 4px 4px 4px black;
    box-shadow: 4px 4px 4px rgba(189, 187, 187, 0.63); */
}
#magazine:hover{
    margin-left: 10.8%;
}
/* #myDiv {
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
  } */

#magazine .turn-page{
    border-radius: 4px;
    border: 1px solid #f0f0f088;
	background-color:#ffffff;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#magazine .turn-page .text{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 3px;
    color: #c7c7c7;
}
#magazine .turn-page .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#magazine .turn-page .content img{
    border-radius: 5px;
}
#magazine .turn-page .content iframe{
    border-radius: 5px;
}
#magazine .turn-page .content p {
    display: flex;
    padding: 1.5rem;
}

/* Pre MAG Style */

#mag{
	width: 1200px;
	height: 720px;
    cursor: pointer;
    /* -moz-box-shadow-bottom: 4px 4px 4px black;
    -webkit-box-shadow-bottom: 4px 4px 4px black;
    box-shadow: 4px 4px 4px rgba(189, 187, 187, 0.63); */
}
#mag .turn-page{
    border-radius: 4px;
    border: 1px solid #f0f0f088;
	background-color:#ffffff;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#mag .turn-page .text{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 3px;
    color: #c7c7c7;
}
#mag .turn-page .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mag .turn-page .content img{
    border-radius: 5px;
}
#mag .turn-page .content iframe{
    border-radius: 5px;
}
#mag .turn-page .content p {
    display: flex;
    padding: 1.5rem;
}

/* Buttons */

#npb:hover{
    transform: scale(0.8);
}

/* ADMINPANNEL */

.flex-container {
    display: flex;
    gap: 16px; /* Adjust the gap between pages */
}

.page {
    flex: 1;
    max-width: calc(50% - 8px); /* Adjust the maximum width of each page */
}